body,
html {
	padding: 0;
	margin: 0;
}

.box {
	height: 100vh;
	width: 100vw;
	display: flex;
}
.left {
	width: 260px;
	height: 100%;
	background-color: #fff;
	border-left: 1px solid rgba(0, 0, 0, 0.15);
    overflow-y: scroll;

	#list {
		// 禁止文字选中
		user-select: none;
		.list-item {
			width: 120px;
			margin-bottom: 4px;
			&:hover {
				// 小手
				cursor: grab;
				// 遮罩层
				filter: brightness(90%);
				// 放大
				transform: scale(1.02);
			}
			// active当用鼠标交互时，它代表的是用户按下按键和松开按键之间的时间。
			&:active {
				cursor: grabbing;
			}
		}
	}
}
.grid {
	// 设置显示2列
	column-count: 2;
	// 列与列之间的间隙为0px
	column-gap: 0px;
}
.content {
	flex: 1;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.07);
	position: relative;
	.list-item {
		position: absolute;
        transform-origin: top left;
	}
}
.flutter {
	position: absolute;
	z-index: 9999;
	pointer-events: none;
}
.is-return {
	transition: all 0.3s;
}
.hide {
	opacity: 0;
}
.left::-webkit-scrollbar {
	// display: none; /* Chrome Safari */
    width: 6px;
    background-color: rgba(144,147,153,.3);
    border-radius: 6px;
    
}