body,
html {
  padding: 0;
  margin: 0;
}
.box {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left {
  width: 260px;
  height: 100%;
  background-color: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
}
.left #list {
  user-select: none;
}
.left #list .list-item {
  width: 120px;
  margin-bottom: 4px;
}
.left #list .list-item:hover {
  cursor: grab;
  filter: brightness(90%);
  transform: scale(1.02);
}
.left #list .list-item:active {
  cursor: grabbing;
}
.grid {
  column-count: 2;
  column-gap: 0px;
}
.content {
  flex: 1;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.07);
  position: relative;
}
.content .list-item {
  position: absolute;
  transform-origin: top left;
}
.flutter {
  position: absolute;
  z-index: 9999;
  pointer-events: none;
}
.is-return {
  transition: all 0.3s;
}
.hide {
  opacity: 0;
}
.left::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(144, 147, 153, 0.3);
  border-radius: 6px;
}
